.Options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Options-timer-container {
  display: flex;
  align-items: center;
}
.Options-timer-text {
  margin-right: 10px;
}
