button {
  border: none;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
  /* border-width: 2px;
  border-style: solid; */
  border: solid 1px #fff;
  position: relative;
}
