/* HEADER component */
.Header {
  background-color: #00ffb2;
  height: 80px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header-title {
  border-bottom: 10px solid #fff;
}
