/* FONTS */

/* COLORS */
:root {
  --green: #00ffb2;
  --green-dark: #00bf82;
}
/* GLOBAL */
body {
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
