/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* COLORS */
:root {
  --blue: #4d9cd6;
  --dark-blue: #1d5dbe;
  --light-blue: #c7d8f9;
  --grey: #bdbdbd;
  --light-grey: #e9eaeb;
  --green: #00ffb2;
  --green-dark: #00bf82;
}
/* GLOBAL */
:root {
  font-family: "Roboto", Arial, sans-serif;
}
body {
}
.wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
