/* FONTS */

/* COLORS */
:root {
  --blue: #4d9cd6;
  --dark-blue: #1d5dbe;
  --grey: #bdbdbd;
  --light-grey: #e9eaeb;
  --green: #00ffb2;
  --green-dark: #00bf82;
}
/* GLOBAL */
body {
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
